# Backend base URL (ไม่ต้องใส่ trailing slash)
VITE_API_BASE_URL=http://localhost:3000
# Auth — ใส่อย่างใดอย่างหนึ่ง
# Staff token จาก POST /api/sccrm/auth/staff-device
VITE_STAFF_TOKEN=

# POS API Key (ถ้ายังไม่มี staff login)
VITE_POS_API_KEY=
SCCRM_STAFF_PIN=S123123c
SCCRM_REFRESH_TOKEN_SECRET=0e10fcef48143cd618036ac325a1aecf8bcb0a749f4facc151539d4c1411926a
SCCRM_ACCESS_JWT_SECRET=df7c34f24ecb4971c1b01cf4bb2f8d0933792290eb8e70d29677b3bb4b30eb1a
SCCRM_INTERNAL_API_TOKEN=6LJyMrsfHD+Nkf7hwEhK2Mow9pYs7u6dxQOmjOQaLiGGVy5nrPXCaWNPpHOmgqSE